* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner-area {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(46, 42, 43, 0.5), rgb(31, 1, 1)), url(images/donation0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexible .text{
    width: 50%;
}

.flexible .images{
    width: 50%;
}

.flexible .images img{
    width: 100%;
    background-size: cover;    
}

.content {
    text-align: center;

}

.content h1 {
    font-size: 70px;
    color: white;

}

.content p {
    font-size: 20px;
    color: aliceblue;
}

.content .btn {
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 100px;
    border-radius: 4px;
    color: whitesmoke;
    font-size: 18px;
    background: brown;
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    text-align: center;
    width: 50%;
}

.row h2 {
    font-size: 45px;
    color: black;
}

.row p {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

.row .cur {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;

}

.row .cur .sub_cur {
    font-size: 2rem;
    margin: 10px;
    padding: 30px 20px;
    color: #555;
    background: rgb(237, 237, 237);
    border-radius: 4px;
}

.row .two {
    font-size: 20px;
}

.container .btn {
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 10px;
    border-radius: 4px;
    color: whitesmoke;
    font-size: 18px;
    background: brown;
}

.donation-plan {
    text-align: center;
    width: 80;
}

.donation-plan p {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

.donation-plan h1 {
    font-size: 45px;
    color: black;
}

.flexible-container {
    display: flex;
    width: 80%;
    text-align: center;
    margin-left: 160px;

}

.img-resize {
    height: 60px;
    width: 60px;
    margin: 10px 0;
}

.food {
    width: 150%;
    text-align: justify;
    background-color: rgba(130, 226, 226, 0.253);
    padding: 0 50px 0 15px;
    margin: 2%;
    border-radius: 5px;

}

.medicine {
    width: 150%;
    text-align: justify;
    background-color: rgba(125, 121, 75, 0.253);
    padding: 0 50px 0 15px;
    margin: 2%;
    border-radius: 5px;
}

.education {
    width: 150%;
    text-align: justify;
    background-color: rgba(188, 188, 66, 0.253);
    padding: 0 50px 0 15px;
    margin: 2%;
    border-radius: 5px;
}

.flexible {
    width: 100%;
    display: flex;
    margin-top: 100px;
    padding-right: 20px;
}

.text h2 {
    font-size: 45px;
    color: black;
    margin: 2%;
}

.text p {
    font-size: 18px;
    padding: 10px 10px;
    margin: 5%;
}

.resize {
    width: 450px;
    height: 550px;
}

#special{
    background: rgba(255, 99, 71, 0.55);
    color: gray;
    border: 1px solid tomato;
}

.donation-button {
    padding: 15px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    background: brown;
    margin-left: 6%;

}

.subscribe {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    background-color: #FFF4D6;
    padding: 80px 20px;
    border-radius: 5px;
    margin-bottom: 100px;
}

#email {
    font-size: 15px;
    padding: 10px;
    width: 300px;
    border: none;
    background-color: #D9D9D9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#button-subscribe {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background-color: brown;
}

.heading-subscribe {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

footer {
    margin-top: 50px;
    background-color: black;
    padding: 50px;
    color: #fff;
    text-align: center;
}